@font-face {
  font-family: classyvouge;
  src: url(Classyvogueregular.ttf);
}

* {
  max-width: 500px;
  margin: auto;
}



@keyframes AutumnColorChange {
  0% {color: #D56C6C;}
  50% {color: #D59A6C;}
  75% {color: #D5BB6C;}
  100% {color: #D56C6C;}
}


b {
  animation: AutumnColorChange 3s infinite;
  font-family: classyvouge;
}


i {
  animation: AutumnColorChange 3s infinite;
  font-family: classyvouge;
}

p {
  font-family: classyvouge;
}

button {
  font-family: classyvouge;
  border: 1px solid black;
  padding: 12px;
  font-size: 12px;
  color: black;
  background-color: white;
  border-radius: 8px;
}

h2 {
font-family: classyvouge;
}

marquee {
 font-family: classyvouge;
}
