
@keyframes AutumnColorChange {
  0% {color: #D56C6C;}
  50% {color: #D59A6C;}
  75% {color: #D5BB6C;}
  100% {color: #D56C6C;}
}


b {
  animation: AutumnColorChange 3s infinite;
}

button {
 padding: 12px;
 font-size: 12px;
  font-color: black;
  background-color: white;
  border-radius: 8px;
  border: 5px black;
}
